@using Entrega1.Clases.Publicacion;

@model List<Publicacion>;

<div class="container mt-1">
    <div class="row gap-3 row-cols-3 justify-content-center">
        @foreach (Publicacion p in Model)
        {
            //Muestra de multiples ventas, como catalogo.
            if (p is Venta v)
            {
                <div class="col-3 btn btn-primary">
                    <h2> Venta @v.Nombre</h2>
                    <p>Articulos</p>
                    @foreach (var a in v.GetArticulos())
                    {
                        <p>@a.Nombre</p>
                    }
                    <p>@v.CalcularPrecio()</p>
                    @if (v.Estado == TipoEstado.Abierta)
                    {
                        @Html.ActionLink("Ver/Comprar", "Venta", new { id = v.Id }, new { @class = "btn btn-secondary" })
                    }else{
                        <input type="button" class="btn btn-secondary" value="Cerrada" disabled />
                    }
                </div>
            }
            else if (p is Subasta s)
            {
                <div class="col-3 btn btn-primary">
                    <h2>Subasta @s.Nombre</h2>
                    <p>Articulos</p>
                    @foreach (var a in s.GetArticulos())
                    {
                        <p>@a.Nombre</p>
                    }
                    @if (s.Estado == TipoEstado.Abierta)
                    {
                        @Html.ActionLink("Ver/Ofertar", "Subasta", new { id = s.Id }, new { @class = "btn btn-secondary" })
                    }
                    else
                    {
                        <input type="button" class="btn btn-secondary" value="Cerrada" disabled />
                    }
                </div>
            }
        }
    </div>
</div>
 
@* <div class="container mt-1">
    <div class="row">
        <div class="col-md-6">
            <div class="row g-3">
                @foreach (Publicacion p in Model.Where(p => p is Subasta))
                {
                    var s = (Subasta)p;
                    <div class="col-6" style="background: grey; border-radius: 5px; padding: 15px;">
                        <h2>Subasta @s.Nombre</h2>
                        <p>Articulos:</p>
                        @foreach (var a in s.GetArticulos())
                        {
                            <p>@a.Nombre</p>
                        }
                        @Html.ActionLink("Ver/Ofertar", "Venta", new { id = s.Id }, new { @class = "btn btn-secondary" })
                    </div>
                }
            </div>
        </div>

        <div class="col-md-6">
            <div class="row g-3">
                @foreach (Publicacion p in Model.Where(p => p is Venta))
                {
                    var v = (Venta)p;
                    <div class="col-6 btn btn-primary">
						/////style="background: lightblue; border-radius: 5px; padding: 15px;" PODRIA IR DENTRO DEL DIV DE ARRIBA
                        <h2>Venta @v.Nombre</h2>
                        <p>Articulos:</p>
                        @foreach (var a in v.GetArticulos())
                        {
                            <p>@a.Nombre</p>
                        }
                        <p>Precio: @v.CalcularPrecio()</p>
                        @Html.ActionLink("Ver/Comprar", "Venta", new { id = v.Id }, new { @class = "btn btn-primary" })
                    </div>
                }
            </div>
        </div>
    </div>
</div> *@
