@using Entrega1.Clases
@model Entrega1.Clases.Publicacion.Subasta;
<h1>Compre su producto.</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" id="formSubasta">
            <div class="form-group">
                <h2>@Model.Nombre</h2>
            </div>
            <div class="form-group">
                <h2>@Model.Estado</h2>
            </div>
            @foreach (var a in Model.GetArticulos())
            {
                <div class="form-group">
                    <p>@a.Nombre</p>
                </div>
            }
            @if (Model.GetOfertas().Count() > 0)
            {
                <h2>Ofertas</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Monto</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var o in Model.GetOfertas())
                        {
                            <tr>
                                <td>@o.Usuario.Nombre</td>
                                <td>@o.Monto</td>
                                <td>@o.Fecha</td>
                            </tr>
                        }
                    </tbody>
                </table>

            }
            else
            {
                <h2>No se han realizado ofertas</h2>
            }
            <input type="number" id="montoSubasta" name="monto" min="1" required />
            <div class="form-group">
                <input type="submit" value="Ofertar" class="btn btn-primary" />
            </div>
            <input type="hidden" name="id" value="@Model.Id" />
            
        </form>
    </div>
</div>
<p>@ViewBag.msg</p>
<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

<script src="/js/Publicacion/Subasta.js">